{% load django_bootstrap5 %}
{% load i18n %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task manager</title>
  </head>

  <body class="d-flex flex-column min-vh-100"></body>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% include 'components/navbar.html' %}
    
    <h1 class="my-4"> </h1>
    <h1 class="my-4"></h1>

    <div class="container wrapper flex-grow-1">

    {% bootstrap_messages %}

    {% block main %}
    {% endblock %}

    </div>

    {% include 'components/footer.html' %}

  </body>
</html>
